.about {
  width: 100%;
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-size: 100% 6px;
  background-position: 0 15px;
}

@media (min-width: 768px) {
  .about {
    width: 100%;
    margin: 0 auto;
    background-position: 0 35px;
    background-size: 668px 15px;
  }
}

@media (min-width: 1150px) {
  .about {
    width: 1050px;
    margin: 0 auto;
    padding: 0 100px;
    background-position: 50px 53px;
    background-size: 1050px 22px;
    background-repeat: no-repeat;
  }
}

.about__title {
  padding: 48px 0 0;
  font-size: 25px;
  line-height: 30px;
  width: 270px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .about__title {
    font-size: 43px;
    line-height: 50px;
    width: 668px;
    text-align: left;
    padding: 97px 0 45px 0;
    margin-left: 45px;
  }
}

@media (min-width: 1150px) {
  .about__title {
    font-size: 53px;
    line-height: 57px;
    padding-top: 132px;
    padding-left: 75px;
    width: 1050px;
  }
}

.about__list {
  list-style: none;
  padding: 0;
  width: 268px;
  margin: 2px auto 0;
}

@media (min-width: 768px) {
  .about__list {
    display: flex;
    flex-wrap: wrap;
    width: 674px;
    margin-bottom: 55px;
  }
}

@media (min-width: 1150px) {
  .about__list {
    width: 750px;
    margin-left: 120px;
  }
}

.about__item {
  font-size: 17px;
  line-height: 20px;
  font-weight: 500;
  padding: 83px 0 0;
  width: 70%;
  position: relative;
}

.about__item::before {
  content: "";
  width: 50px;
  height: 45px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.about__item--flower::before {
  background-image: url("../img/icon-feature-flower.svg");
  background-repeat: no-repeat;
  background-size: 33px 37px;
  top: 28px;
  left: 9px;
}

.about__item--money {
  width: 80%;
}

.about__item--money::before {
  background-image: url("../img/icon-feature-money.svg");
  background-repeat: no-repeat;
  background-size: 47px 26px;
  top: 30px;
}

.about__item--heart::before {
  background-image: url("../img/icon-feature-heart.svg");
  background-repeat: no-repeat;
  background-size: 35px 27px;
  top: 35px;
  left: 10px;
}

.about__item--ball {
  width: 90%;
}

.about__item--ball::before {
  background-image: url("../img/icon-feature-ball.svg");
  background-repeat: no-repeat;
  top: 32px;
  left: 5px;
}

.about__item--rocket {
  width: 100%;
}

.about__item--rocket::before {
  background-image: url("../img/icon-feature-rocket.svg");
  background-repeat: no-repeat;
  background-size: 56px 25px;
  width: 57px;
  top: 32px;
  left: -4px;
}

.about__item--gift {
  width: 80%;
}

.about__item--gift::before {
  background-image: url("../img/icon-feature-gift.svg");
  background-repeat: no-repeat;
  background-size: 35px 32px;
  top: 30px;
  left: 5px;
}

@media (min-width: 768px) {
  .about__item {
    width: 220px;
    padding: 55px 105px 30px 5px;
    font-size: 20px;
    line-height: 22px;
  }

  .about__item:first-child {
    order: -6;
  }

  .about__item:nth-child(2) {
    order: -4;
  }

  .about__item:nth-child(4) {
    order: -5;
  }

  .about__item:nth-child(5) {
    order: -3;
  }
}

.about__item-img {
  margin-bottom: 10px;
}

/*Медиа выражения для псевдоэлементов и модификаторов*/
@media (min-width: 768px) {
  .about__item--flower::before {
    top: 0;
    left: 11px;
  }

  .about__item.about__item--money {
    width: 240px;
    padding-top: 80px;
    padding-right: 85px;
  }

  .about__item--money::before {
    top: 28px;
    left: 5px;
  }

  .about__item--heart {
    padding-top: 80px;
  }

  .about__item--heart::before {
    top: 33px;
  }

  .about__item.about__item--ball {
    width: 255px;
    padding-right: 65px;
  }

  .about__item--ball::before {
    top: 5px;
    left: 10px;
  }

  .about__item.about__item--rocket {
    padding-top: 80px;
    width: 300px;
    padding-right: 20px;
  }

  .about__item--rocket::before {
    left: 0;
  }

  .about__item.about__item--gift {
    padding-top: 80px;
    width: 240px;
    padding-right: 85px;
  }

  .about__item--gift::before {
    left: 10px;
  }
}

@media (min-width: 1150px) {
  .about__item {
    width: 300px;
    padding: 55px 0;
  }
}

@media (min-width: 1150px) {
  .about__item.about__item--money {
    width: 300px;
    padding: 55px 0;
  }

  .about__item--money::before {
    top: 6px;
  }

  .about__item.about__item--ball {
    padding: 55px 0 0 55px;
  }

  .about__item--ball::before {
    top: 5px;
    left: 57px;
  }

  .about__item--heart::before {
    top: 12px;
  }

  .about__item--rocket::before {
    top: 7px;
    left: 48px;
  }

  .about__item.about__item--rocket {
    padding: 55px 0 0 55px;
  }

  .about__item.about__item--gift {
    width: 300px;
    padding: 55px 0 0 55px;
  }

  .about__item--gift::before {
    left: 55px;
    top: 6px;
  }
}
