.catalog__title {
  background-color: #f1f1f1;
  padding: 40px 0;
  text-align: center;
}

.catalog-item {
  .container-mob;
  margin: 30px auto;
  border: 1px solid #ececec;
  padding: 20px;
}

@media (min-width: 768px) {
  .catalog-item {
    .container-tab;
  }
}

.catalog-item__name {
  font-size: 17px;
  line-height: 24px;
}

@media (min-width: 768px) {
  .catalog-item__name {
    font-size: 20px;
  }
}

.catalog-item__description {
  font-size: 13px;
  line-height: 30px;
}

@media (min-width: 768px) {
  .catalog-item__description {
    font-size: 15px;
  }
}

.catalog-item__price-num {
  font-weight: 500;
}

@media (min-width: 768px) {
  .catalog-item__price-num {
    font-size: 17px;
    line-height: 24px;
  }
}
