.category {
  background-image: linear-gradient(#63d1bb 50%, #56c3b2 50%);
}

.category__green {
  .container-mob;
}

@media (min-width: 768px) {
  .category {
    .container-tab;
  }
}


.category__text {
  color: #ffffff;
  font-size: 19px;
  line-height: 24px;
  font-weight: 500;
}
