.contacts {
  margin: 0 auto;
  color: #575757;
  width: 100%;
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-size: 100% 6px;
  background-position: 0 25px;
}

@media (min-width: 768px) {
  .contacts {
    background-size: 668px 15px;
    background-position: 0 0;
  }
}

.contacts__title {
  color: #000000;
  padding: 64px 0 28px;
  width: 270px;
  font-size: 18px;
  line-height: 30px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .contacts__title {
    padding-top: 75px;
    font-size: 43px;
    line-height: 50px;
    width: 668px;
    margin: 0 auto;
    position: relative;
  }

  .contacts__title::before {
    content: "";
    width: 60px;
    height: 80px;
    background-image: url("../img/icon-flag.svg");
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    background-size: 53px 89px;
    left: 620px;
    top: 60px;
  }
}

@media (min-width: 1150px) {
  .contacts {
    width: 1050px;
    position: relative;
    margin-top: 5px;
    margin-bottom: 100px;
    background-size: 1050px;
  }
}

@media (min-width: 1150px) {
  .contacts__title {
    font-size: 53px;
    line-height: 57px;
    width: 1050px;
    padding: 160px 0 0 170px;
    text-align: left;
    margin: 0;
  }

  .contacts__title::before {
    left: 65px;
    top: 155px;
  }
}

.contacts__wrapper {
  margin-top: 35px;
  width: 100%;
  height: 450px;
}

@media (min-width: 1150px) {
  .contacts__wrapper {
    width: 500px;
    position: absolute;
    top: 55px;
    right: 20px;
    height: 460px;
  }
}

.contacts__email,
.contacts__adress {
  width: 270px;
  margin: 0 auto;
}

@media (min-width: 1150px) {
  .contacts__email,
  .contacts__adress {
    margin: 0;
    padding: 0;
  }
}

.contacts__email {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.contacts__adress {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .contacts__list {
    width: 668px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    line-height: 30px;
  }

  .contacts__email,
  .contacts__adress {
    padding: 20px 0;
    width: 325px;
  }
}

@media (min-width: 1150px) {
  .contacts__list {
    flex-direction: column;
    margin: 0;
    padding: 50px 0 0;
    width: 350px;
    margin-left: 175px;
    font-size: 17px;
    line-height: 30px;
  }

  .contacts__email {
    padding: 0;
  }

  .contacts__adress {
    padding: 20px 0 0;
    width: 350px;
  }
}

.contacts__link {
  border-bottom: 1px solid #62b1d2;
  text-decoration: none;
  padding-bottom: 5px;
  color: #575757;
  margin-right: 10px;
}

@media (min-width: 768px) {
  .contacts__link {
    margin-bottom: 60px;
    padding-bottom: 0;
    margin-right: 45px;
  }
}

@media (min-width: 1150px) {
  .contacts__link {
    margin-left: 30px;
    margin-bottom: 10px;
  }
}

.contacts__adress-street {
  width: 140px;
  display: block;
  margin-right: 50px;
  line-height: 30px;
}

@media (min-width: 768px) {
  .contacts__adress-street {
    width: 220px;
    margin-right: 28px;
  }
}

@media (min-width: 1150px) {
  .contacts__adress-street {
    width: 240px;
    display: block;
    margin-right: 28px;
  }
}

.contacts__wrapper-maps {
  width: 100%;
}

@media (min-width: 768px) {
  .contacts__wrapper-maps {
    height: 460px;
  }
}

@media (min-width: 1150px) {
  .contacts__wrapper-maps {
    width: 525px;
    height: 455px;
    position: absolute;
    top: 0;
    right: 0;
  }
}
