.form {
  .container-mob;
  font-size: 17px;
  line-height: 18px;
  font-weight: 500;
}

@media (min-width: 768px) {
  .form {
    width: 100%;
    padding: 0;
  }
}

.form__type,
.form__decoration,
.form__contacts-tel,
.form__contacts-email,
.form__name {
  color: #63d1bb;
  font-weight: 500;
  border: none;
  text-transform: uppercase;
}

.form__type {
  padding-top: 25px;
  position: relative;
}

.form__type::before,
.form__decoration::before,
.form__contacts-tel::before,
.form__contacts-email::before,
.form__name::before {
  content: "";
  display: block;
  height: 2px;
  width: 199px;
  background-color: #63d1bb;
  position: absolute;
}

@media (min-width: 768px) {
  .form__type::before,
  .form__decoration::before,
  .form__contacts-tel::before,
  .form__contacts-email::before,
  .form__name::before {
    display: none;
  }
}

.form__type::before {
  top: 33px;
  left: 55px;
}

@media (min-width: 768px) {
  .form__type {
    position: absolute;
    top: 50px;
  }
}

@media (min-width: 1150px) {
  .form__type {
    top: 45px;
    left: -130px;
  }
}

.form__type-wrapper {
  position: relative;
}

@media (min-width: 768px) {
  .form__type-wrapper {
    width: 325px;
    margin-left: 210px;
    margin-top: 40px;
    font-size: 19px;
    line-height: 18px;
    margin-bottom: 10px;
  }

  .form__type-input {
    margin: 10px;
  }
}

@media (min-width: 1150px) {
  .form__type-wrapper {
    margin-left: 20px;
  }
}

.form__type-wrapper.form__type-wrapper--top {
  width: 150px;
  text-align: left;
  padding: 30px 0 25px 40px;
}

.form__type-wrapper.form__type-wrapper--bottom {
  padding-left: 40px;
  padding-bottom: 35px;
}

@media (min-width: 768px) {
  .form__type-wrapper.form__type-wrapper--bottom {
    margin-top: 35px;
  }
}

.form__type-input {
  display: none;
}

.form__type-label {
  display: block;
  width: 170px;
  margin-left: 15px;
}

@media (min-width: 768px) {
  .form__type-label {
    width: 255px;
    margin: 0;
    padding: 0;
  }
}

.form__type-label::before {
  content: "";
  width: 35px;
  height: 35px;
  display: inline-block;
  border: 2px solid #000000;
  border-radius: 50%;
  position: absolute;
  left: -5px;
  margin-top: -7px;
}

@media (min-width: 768px) {
  .form__type-label::before {
    width: 47px;
    height: 47px;
    left: -41px;
  }
}

.form__group {
  border: none;
  margin: 0 0 10px;
  padding: 0;
}

@media (min-width: 768px) {
  .form__group {
    display: block;
    width: 668px;
    border: none;
    margin: 0 auto 20px;
    position: relative;
  }
}

@media (min-width: 1150px) {
  .form__group.form__group--name {
    width: 1050px;
  }
}

@media (min-width: 768px) {
  .form__group.form__group--textarea {
    width: 668px;
    margin: 0 auto;
    position: relative;
  }
}

@media (min-width: 1150px) {
  .form__group.form__group--textarea {
    width: 1050px;
  }
}

@media (min-width: 768px) {
  .form__group--color {
    background-color: #f1f1f1;
    width: 100%;
  }

  .form__group.form__group--color {
    position: relative;
  }

  .form__color-wrapper {
    margin: 5px;
    width: 230px;
    font-size: 19px;
    line-height: 18px;
  }
}

.form__color-input  {
  display: none;
}

.form__color-label {
  position: relative;
  padding: 30px 0 5px 55px;
  display: block;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .form__color-label {
    padding: 35px 0 0 85px;
  }
}

.form__color-label::before {
  content: "";
  width: 35px;
  height: 35px;
  border: 2px solid #000000;
  display: block;
  position: absolute;
  left: -5px;
  top: 21px;
}

@media (min-width: 768px) {
  .form__color-label::before {
    width: 51px;
    height: 49px;
  }
}

@media (min-width: 768px) {
  .form__color {
    display: flex;
    width: 668px;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-left: 170px;
    padding-top: 25px;
    width: 510px;
    padding-bottom: 60px;
  }
}

@media (min-width: 1150px) {
  .form__color {
    width: 870px;
  }
}

.form__decoration {
  position: relative;
}

.form__decoration::before {
  top: 7px;
  left: 55px;
}

.form__decoration--name {
  margin-top: 10px;
}

@media (min-width: 768px) {
  .form__decoration {
    position: absolute;
    top: 70px;
    left: 50px;
  }
}

@media (min-width: 1150px) {
  .form__decoration {
    top: 65px;
    left: 105px;
  }
}

@media (min-width: 768px) {
  .form__decoration.form__decoration--name {
    top: 40px;
    left: 0;
  }
}

@media (min-width: 1150px) {
  .form__decoration.form__decoration--name {
    top: 35px;
    left: 55px;
  }
}

@media (min-width: 768px) {
  .form__name-width {
    display: flex;
    width: 500px;
    margin-left: 170px;
    font-size: 19px;
    line-height: 18px;
  }

  .form__name-input {
    flex-grow: 1;
  }
}

@media (min-width: 1150px) {
  .form__name-input {
    width: 500px;
  }
}

.form__name-input,
.form__contacts-input,
.form__more {
  font-weight: 400;
  color: #dfdfdf;
}

.form__name-input {
    border: none;
    border-bottom: 2px solid #000000;
    padding: 15px 0;
    width: 260px;
  }

.form__name-label {
  margin-top: 27px;
  display: block;
}

@media (min-width: 768px) {
  .form__name-label {
    margin-top: 45px;
    padding-right: 20px;
    margin-bottom: 15px;
  }
}

.form__send-text {
  font-size: 14px;
  line-height: 16px;
  color: #444444;
  font-weight: 400;
}

.form__contacts {
  margin-top: 10px;
}

@media (min-width: 768px) {
  .form__contacts {
    background-color: #f1f1f1;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 30px;
  }
}

.form__contacts-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.form__contacts-tel,
.form__contacts-email {
  position: relative;
}

.form__contacts-tel::before {
  top: 7px;
  left: 60px;
}

.form__contacts-email::before {
  top: 10px;
  left: 75px;
  width: 180px;
}

@media (min-width: 768px) {
  .form__contacts-wrapper {
    width: 668px;
    margin: 0 auto;
    position: relative;
  }

  .form__contacts-tel,
  .form__contacts-email {
    position: absolute;
    left: 0;
    top: 25px;
  }
}

@media (min-width: 1150px) {
  .form__contacts-wrapper {
    width: 700px;
  }

  .form__contacts-tel {
    top: 15px;
    left: -120px;
  }

  .form__contacts-email {
    top: 20px;
    left: -120px;
  }
}

.form__contacts-input {
  width: 320px;
  border: none;
  border-bottom: 2px solid #000000;
  padding: 17px 0;
}

@media (min-width: 768px) {
  .form__contacts-input {
    flex-grow: 1;
    position: relative;
    background-color: #f1f1f1;
    margin-left: 25px;
    margin-bottom: 20px;
    width: 530px;
    margin-left: 290px;
  }
}

@media (min-width: 1150px) {
  .form__contacts-input {
    margin-left: 0;
  }
}

.form__contacts-input--email {
  padding: 19px 0;
}

.form__name {
  margin-top: 35px;
  position: relative;
  margin-bottom: 25px;
}

.form__name::before {
  top: 10px;
  left: 55px;
}

.form__more {
  width: 230px;
  border: 2px solid #000000;
  padding: 15px 15px 0;
}

@media (min-width: 768px) {
  .form__name {
    position: absolute;
    left: 0;
    top: 30px;
  }

  .form__more {
    width: 465px;
    margin: 50px 0 0 170px;
  }
}

@media (min-width: 1150px) {
  .form__name {
    left: 60px;
  }
}

@media (min-width: 1150px) {
  .form__more {
    width: 670px;
  }
}

@media (min-width: 768px) {
  .form__send {
    width: 668px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .form__send-text {
    font-size: 17px;
    line-height: 30px;
    font-weight: 400;
  }
}

@media (min-width: 1150px) {
  .form__send {
    width: 700px;
  }
}
