.form {
  width: 270px;
  padding: 0 25px;
  margin: 0 auto;
  font-size: 17px;
  line-height: 18px;
  font-weight: 500;
}

@media (min-width: 768px) {
  .form {
    width: 100%;
    padding: 0;
  }
}

.form__type,
.form__decoration,
.form__contacts-tel,
.form__contacts-email,
.form__name {
  color: #63d1bb;
  font-weight: 500;
  border: none;
  text-transform: uppercase;
}

.form__type {
  padding-top: 25px;
  position: relative;
}

.form__type::before,
.form__decoration::before,
.form__contacts-tel::before,
.form__contacts-email::before,
.form__name::before {
  content: "";
  display: block;
  height: 2px;
  width: 199px;
  background-color: #63d1bb;
  position: absolute;
}

@media (min-width: 768px) {
  .form__type::before,
  .form__decoration::before,
  .form__contacts-tel::before,
  .form__contacts-email::before,
  .form__name::before {
    display: none;
  }
}

.form__type::before {
  top: 33px;
  left: 55px;
}

@media (min-width: 768px) {
  .form__type {
    position: absolute;
    top: 50px;
  }
}

@media (min-width: 1150px) {
  .form__type {
    top: 45px;
    left: -130px;
  }
}

.form__type-wrapper {
  position: relative;
}

@media (min-width: 768px) {
  .form__type-wrapper {
    width: 325px;
    margin-left: 210px;
    margin-top: 40px;
    font-size: 19px;
    line-height: 18px;
    margin-bottom: 10px;
  }

  .form__type-input {
    margin: 10px;
  }
}

@media (min-width: 1150px) {
  .form__type-wrapper {
    margin-left: 20px;
  }
}

.form__type-wrapper.form__type-wrapper--top {
  width: 150px;
  text-align: left;
  padding: 30px 0 25px 40px;
}

.form__type-wrapper.form__type-wrapper--bottom {
  padding-left: 40px;
  padding-bottom: 35px;
}

@media (min-width: 768px) {
  .form__type-wrapper.form__type-wrapper--bottom {
    margin-top: 35px;
  }
}

.form__type-input {
  display: none;
}

.form__type-label {
  display: block;
  width: 170px;
  margin-left: 15px;
}

@media (min-width: 768px) {
  .form__type-label {
    width: 255px;
    margin: 0;
    padding: 0;
  }
}

.form__type-label::before {
  content: "";
  width: 35px;
  height: 35px;
  display: inline-block;
  border: 2px solid #000000;
  border-radius: 50%;
  position: absolute;
  left: -5px;
  margin-top: -7px;
}

.form__type-input:checked + .form__type-label::before {
  box-shadow: inset 0 0 0 10px #ffffff;
  background-color: #62d1b2;
}

@media (min-width: 768px) {
  .form__type-input:checked + .form__type-label::before {
    box-shadow: inset 0 0 0 14px #ffffff;
  }
}

@media (min-width: 768px) {
  .form__type-label::before {
    width: 47px;
    height: 47px;
    left: -41px;
    margin-top: -12px;
  }
}

.form__group {
  border: none;
  margin: 0 0 10px;
  padding: 0;
}

@media (min-width: 768px) {
  .form__group {
    display: block;
    width: 668px;
    border: none;
    margin: 0 auto 20px;
    position: relative;
  }
}

.form__group-color {
  border: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .form__group.form__group--name {
    margin-top: 19px;
  }
}

@media (min-width: 1150px) {
  .form__group.form__group--name {
    width: 1050px;
  }
}

@media (min-width: 768px) {
  .form__group.form__group--textarea {
    width: 668px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 20px;
  }
}

@media (min-width: 1150px) {
  .form__group.form__group--textarea {
    width: 1050px;
    margin-bottom: 5px;
  }
}

.form__color {
  margin-bottom: 27px;
}

@media (min-width: 768px) {
  .form__color {
    width: 100%;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
  }

  .form__color-group {
    width: 550px;
    margin: 0 auto;
    padding-left: 216px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-top: 37px;
  }

  .form__color-wrapper {
    width: 130px;
    font-size: 19px;
    line-height: 18px;
    margin: 0 0 12px;
    padding: 0 130px 0 0;
  }
}

@media (min-width: 1150px) {
  .form__color-wrapper {
    width: 200px;
    padding: 0 64px 0 1px;
    margin: 1px 0 12px;
  }
}

.form__color-input {
  display: none;
}

.form__color-input:checked + .form__color-label::before {
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-size: 25px 15px;
  background-position: center center;
}

@media (min-width: 768px) {
  .form__color-input:checked + .form__color-label::before {
    background-size: 31px 20px;
  }
}

@media (min-width: 1150px) {
  .form__color-group {
    width: 810px;
    padding-left: 104px;
    padding-top: 33px;
  }
}

.form__color-label {
  position: relative;
  padding: 30px 0 5px 55px;
  display: block;
  margin-bottom: 10px;
}

.form__color-label.form__color-label--right {
  padding: 27px 0 5px 55px;
}

@media (min-width: 768px) {
  .form__color-label.form__color-label--right {
    padding: 35px 0 0 80px;
  }
}

@media (min-width: 768px) {
  .form__color-label {
    padding: 35px 0 0 85px;
  }
}

.form__color-label::before {
  content: "";
  width: 35px;
  height: 35px;
  border: 2px solid #000000;
  display: block;
  position: absolute;
  left: 0;
  top: 19px;
}

@media (min-width: 768px) {
  .form__color-label::before {
    width: 51px;
    height: 49px;
  }
}

.form__decoration {
  position: relative;
}

.form__decoration::before {
  top: 7px;
  left: 55px;
}

.form__decoration--name {
  margin-top: 10px;
}

@media (min-width: 768px) {
  .form__decoration {
    position: absolute;
    top: 70px;
    left: 50px;
  }
}

@media (min-width: 1150px) {
  .form__decoration {
    top: 70px;
    left: -10px;
  }
}

@media (min-width: 768px) {
  .form__decoration.form__decoration--name {
    top: 40px;
    left: 0;
  }
}

@media (min-width: 1150px) {
  .form__decoration.form__decoration--name {
    top: 33px;
    left: 60px;
  }
}

@media (min-width: 768px) {
  .form__name-width {
    display: flex;
    width: 500px;
    margin-left: 170px;
  }

  .form__name-input {
    flex-grow: 1;
  }
}

@media (min-width: 1150px) {
  .form__name-width {
    width: 700px;
    margin-left: 176px;
  }
}

.form__name-input,
.form__contacts-input,
.form__more {
  font-weight: 400;
  color: #dfdfdf;
}

.form__name-input {
  border: none;
  border-bottom: 2px solid #000000;
  padding: 15px 0;
  width: 260px;
}

@media (min-width: 768px) {
  .form__name-input {
    font-size: 19px;
    line-height: 18px;
    padding: 38px 0 5px 24px;
  }
}

@media (min-width: 1150px) {
  .form__name-input {
    padding: 36px 0 8px 20px;
  }
}

.form__name-label {
  margin-top: 27px;
  display: block;
}

@media (min-width: 768px) {
  .form__name-label {
    margin-top: 45px;
    padding-right: 28px;
    margin-bottom: 15px;
  }
}

@media (min-width: 768px) {
  .form__name-label {
    margin-top: 43px;
    padding-right: 28px;
    margin-bottom: 15px;
  }
}

.form__send-text {
  font-size: 14px;
  line-height: 16px;
  color: #444444;
  font-weight: 400;
}

.form__contacts {
  margin-top: 10px;
}

@media (min-width: 768px) {
  .form__contacts {
    background-color: #f1f1f1;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 30px;
  }
}

@media (min-width: 1150px) {
  .form__contacts {
    margin-top: 55px;
  }
}

.form__contacts-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 29px;
  position: relative;
}

.form__contacts-wrapper::before {
  content: "";
  width: 27px;
  height: 30px;
  display: block;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  opacity: 0.2;
  position: absolute;
  background-size: 100%;
  top: 37px;
  right: 18px;
  z-index: 5;
}

@media (min-width: 768px) {
  .form__contacts-wrapper::before {
    top: 10px;
    right: 18px;
  }
}

@media (min-width: 1150px) {
  .form__contacts-wrapper::before {
    left: 670px;
  }
}

.form__contacts-wrapper.form__contacts-wrapper--mail::before {
  background-image: url("../img/icon-mail.svg");
}

@media (min-width: 768px) {
  .form__contacts-wrapper.form__contacts-wrapper--mail::before {
    width: 33px;
    top: 14px;
  }
}

@media (min-width: 1150px) {
  .form__contacts-wrapper.form__contacts-wrapper--mail::before {
    left: 665px;
    top: 15px;
  }
}

.form__contacts-tel,
.form__contacts-email {
  position: relative;
}

.form__contacts-tel::before {
  top: 7px;
  left: 60px;
}

@media (min-width: 768px) {
  .form__contacts-tel::before {
    top: -7px;
  }
}

.form__contacts-email::before {
  top: 10px;
  left: 75px;
  width: 180px;
}

@media (min-width: 768px) {
  .form__contacts-wrapper {
    width: 668px;
    margin: 0 auto;
    position: relative;
  }

  .form__contacts-tel,
  .form__contacts-email {
    position: absolute;
    left: 0;
    top: 25px;
  }
}

@media (min-width: 1150px) {
  .form__contacts-wrapper {
    width: 700px;
  }

  .form__contacts-tel {
    top: 15px;
    left: -112px;
  }

  .form__contacts-email {
    top: 23px;
    left: -112px;
  }
}

.form__contacts-input {
  width: 260px;
  border: none;
  border-bottom: 2px solid #000000;
  padding: 18px 0 20px;
  position: relative;
}

@media (min-width: 768px) {
  .form__contacts-input {
    flex-grow: 1;
    position: relative;
    background-color: #f1f1f1;
    margin-left: 167px;
    margin-bottom: 20px;
    width: 600px;
    padding: 15px 0 15px 22px;
  }
}

@media (min-width: 1150px) {
  .form__contacts-input {
    margin-left: 0;
  }
}

.form__contacts-input--email {
  padding: 19px 0;
}

@media (min-width: 768px) {
  .form__contacts-input--email {
    padding: 15px 0 22px 22px;
  }
}

.form__name {
  margin-top: 35px;
  position: relative;
  margin-bottom: 25px;
}

.form__name::before {
  top: 8px;
  left: 55px;
}

.form__more {
  width: 225px;
  border: 2px solid #000000;
  padding: 14px 15px 0;
}

@media (min-width: 768px) {
  .form__name {
    position: absolute;
    left: 0;
    top: 30px;
  }

  .form__more {
    width: 465px;
    margin: 50px 0 0 170px;
  }
}

@media (min-width: 1150px) {
  .form__name {
    left: 60px;
  }
}

@media (min-width: 1150px) {
  .form__more {
    width: 670px;
  }
}

@media (min-width: 768px) {
  .form__send {
    width: 668px;
    margin: 0 auto;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  .form__send-text {
    font-size: 17px;
    line-height: 30px;
    font-weight: 400;
  }
}

@media (min-width: 1150px) {
  .form__send {
    width: 700px;
  }
}
