.main-nav {
  font-size: 17px;
  line-height: 24px;
  top: -100%;
  left: 0;
  width: 100%;
  z-index: 100;
}

@media (min-width: 768px) {
  .main-nav {
    font-size: 15px;
    line-height: 24px;
    width: 668px;
    margin: 0 auto;
  }
}

@media (min-width: 1150px) {
  .main-nav {
    width: 1050px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .main-nav__wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}

.main-nav__toggle {
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  z-index: 2;
  background-color: #ffffff;
  background-image: url("../img/icon-menu-close.svg");
  background-size: 20px 20px;
  border: none;
  background-repeat: no-repeat;
  right: 20px;
  top: -55px;
}

.main-nav__toggle-hidden {
  display: none;
}

.main-nav__logo {
  display: block;
  text-align: center;
  margin: 20px 0 15px;
}

.main-nav__logo-image:hover {
  opacity: 0.7;
}

.main-nav__logo-image:active {
  opacity: 0.3;
}

@media (min-width: 768px) {
  .main-nav__logo {
    order: -3;
    margin: 20px 0 23px;
  }

  .main-nav__logo-image {
    width: 110px;
    height: 50px;
  }
}

.main-nav__logo-image--inv {
  display: none;
}

@media (min-width: 768px) {
  .main-nav__logo-image--inv {
    display: block;
  }

  .main-nav__logo-image.main-nav__logo-image--inv:hover {
    fill: #46c1ae;
  }

  .main-nav__logo-image.main-nav__logo-image--inv:active {
    opacity: 0.3;
  }
}

@media (min-width: 1150px) {
  .main-nav__logo {
    width: 128px;
    order: -4;
    margin-top: 0;
  }

  .main-nav__logo-image {
    margin: 0;
    width: 175px;
    height: 73px;
    padding-top: 10px;
  }
}

.main-nav__item,
.main-nav__search-item {
  border: 1px solid #ececec;
  text-align: left;
  padding: 25px 0 25px 75px;
}

@media (min-width: 768px) {
  .main-nav__item {
    padding: 0 35px 0 0;
    border: none;
  }
}

@media (min-width: 1150px) {
  .main-nav__item {
    padding: 0;
  }
}

.main-nav__list,
.main-nav__search {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 320px;
}

@media (min-width: 768px) {
  .main-nav__search {
    display: flex;
    justify-content: flex-end;
    order: -2;
    width: 420px;
    margin-right: 0;
  }

  .main-nav__search-search {
    font-size: 0;
  }
}

@media (min-width: 1150px) {
  .main-nav__search {
    order: -3;
    width: 400px;
    margin-left: 85px;
  }
}


@media (min-width: 768px) {
  .main-nav__search-item {
    padding: 30px 0 25px;
    border: none;
    font-size: 17px;
    line-height: 24px;
  }
}

@media (min-width: 768px) {
  .main-nav__list {
    display: flex;
    margin-top: 8px;
    margin-left: 0;
    width: 400px;
  }
}

@media (min-width: 1150px) {
  .main-nav__list {
    width: 375px;
    font-size: 17px;
    line-height: 24px;
    justify-content: space-between;
    position: static;
    order: -5;
    padding-top: 22px;
  }
}

@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}

.main-nav__link,
.main-nav__search-search,
.main-nav__search-cart {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
}

.main-nav__search-item {
  position: relative;
}

@media (min-width: 768px) {
  .main-nav__search-item {
    position: static;
  }
}

.main-nav__search-img {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 30px;
  fill: #d3d2d2;
}

.main-nav__search-img:hover {
  fill: #63d1bb;
}

.main-nav__search-img:active {
  opacity: 0.2;
}

@media (min-width: 768px) {
  .main-nav__search-img {
    position: relative;
    top: 7px;
    left: 5px;
    width: 21px;
    height: 19px;
    padding: 0 30px;
  }
}

@media (min-width: 768px) {
  .main-nav__search-search {
    width: 40px;
    border-left: 1px solid #ececec;
  }
}

@media (min-width: 768px) {
  .main-nav__search-item--search {
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    height: 31px;
  }
}

@media (min-width: 1150px) {
  .main-nav__search-item--search {
    height: 34px;
  }

  .main-nav__search-item--search::before {
    margin-top: 8px;
    margin-right: 33px;
  }

  .main-nav__search-link::before {
    left: 80px;
    top: 35px;
  }
}

.main-nav__add-list {
  display: none;
}

@media (min-width: 1150px) {
  .main-nav__add-list {
    width: 700px;
    display: flex;
    list-style: none;
    justify-content: flex-start;
    padding: 0;
    padding-left: 0;
    order: -2;
    margin-top: 0;
  }
}

.main-nav__delivery-link {
  display: none;
}

@media (min-width: 768px) {
  .main-nav__delivery-link {
    display: block;
    text-decoration: none;
    color: #000000;
    padding-top: 7px;
  }
}

@media (min-width: 1150px) {
  .main-nav__delivery-link {
    padding: 0 0 0 118px;
  }
}

.main-nav__link:hover,
.main-nav__search-link:hover,
.main-nav__add-link:hover {
  opacity: 0.7;
}

.main-nav__link:active,
.main-nav__search-link:active,
.main-nav__add-link:active {
  opacity: 0.3;
}

.main-nav__tab {
  display: none;
}

@media (min-width: 768px) {
  .main-nav__tab {
    width: 87%;
    padding: 20px 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  .main-nav__tab-item {
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
  }

  .main-nav__tab-item:last-child {
    font-weight: 400;
  }

  .main-nav__tab-link {
    text-decoration: none;
    color: #000000;
  }

  .main-nav__tab-link:nth-child(2) {
    margin-right: 100px;
  }
}

@media (min-width: 1150px) {
  .main-nav__tab {
    display: none;
  }
}

@media (min-width: 768px) {
  .main-nav__add-link {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
  }

  .main-nav__add-item {
    padding-right: 20px;
  }
}

@media (min-width: 1150px) {
  .main-nav__add-item {
    font-weight: 500;
    padding: 0 60px 0 0;
  }
}
