.page-footer {
    background-color: #f1f1f1;
}

@media (min-width: 768px) {
  .page-footer__wrapper {
    background-color: #f1f1f1;
    display: flex;
  }
}

@media (min-width: 1200px) {
  .page-footer__wrapper {
    width: 1050px;
    margin: 0 auto;
}
}