.page-footer {
    background-color: #f1f1f1;
}

@media (min-width: 768px) {
  .page-footer__wrapper {
    background-color: #f1f1f1;
    display: flex;
    width: 668px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 50px 0;
  }
}

@media (min-width: 1150px) {
  .page-footer__wrapper {
    width: 1050px;
  }
}
