.page-form__wrapper {
  background-color: #f1f1f1;
  padding: 50px 0 60px;
  text-align: center;
}

@media (min-width: 768px) {
  .page-form__wrapper {
    padding: 25px 0 60px;
    margin-bottom: 65px;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-position: 0 170px;
  }
}

@media (min-width: 1150px) {
  .page-form__wrapper {
    margin-bottom: 125px;
    padding: 15px 0 65px;
    background-position: 0 160px;
  }

  .page-form__wrapper .page-title {
    margin-top: 5px;
  }
}

.page-form__description {
  padding-top: 20px;
  width: 260px;
  margin: 0 auto;
  font-size: 13px;
  line-height: 24px;
}

@media (min-width: 768px) {
  .page-form__description {
    width: 670px;
    margin: 0 auto;
    padding: 0 20px;
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: 1150px) {
  .page-form__description {
    width: 700px;
  }
}
