.page-form__wrapper {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

.page-form__description {
  .container-mob;
  font-size: 13px;
  line-height: 24px;
}

@media (min-width: 768px) {
  .page-form__description {
    width: 80%;
    margin: 0 auto;
    padding: 0 50px;
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: 1200px) {
  .page-form__description {
    width: 60%;
  }
}
