.product-card {
  .container-mob;
}

.product-card .page-title {
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .product-card {
    width: 360px;
    padding: 20px 100px;
    text-align: center;
  }

  .product-card .page-title {
    font-size: 30px;
    line-height: 57px;
      }
}

.product-card__text {
  font-size: 15px;
  line-height: 30px;
  text-align: center;
}
