.product-card {
  .container-mob;
}

.product-card .page-title {
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .product-card {
    width: 360px;
    padding: 20px 100px;
    text-align: center;
  }

  .product-card .page-title {
    font-size: 30px;
    line-height: 57px;
  }
}

@media (min-width: 1150px) {
  .product-card {
    margin-top: 70px;
    border: 1px solid #c7c7c7;
    margin-bottom: 30px;
  }
}

.product-card__wrapper {
  display: flex;
  justify-content: space-between;
}

.product-card__format {
  width: 25%;
  border: 2px solid #ececec;
  padding: 10px 0;
  text-align: center;
}

.product-card__text {
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 20px;
}

.product-card__size {
  display: none;
}
