.promo {
  width: 100%;
  min-height: 280px;
  background-color: #f9f9f9;
}

.promo__wrapper {
  width: 320px;
  min-height: 280px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .promo__wrapper {
    width: 668px;
  }
}

.promo__img {
  position: absolute;
  height: 280px;
  transform: scaleX(1.75);
}

@media (min-width: 768px) {
  .promo__img {
    width: 668px;
    height: 585px;
  }
}

.promo .page-title {
  text-align: center;
  width: 75%;
  margin: 0 auto;
  position: relative;
  z-index: 10;
  padding-top: 70px;
}

@media (min-width: 768px) {
  .promo .page-title {
    padding-top: 110px;
  }
}

@media (min-width: 1150px) {
  .promo {
    background-color: #f9f9f9;
    height: 585px;
  }

  .promo__wrapper {
    width: 1050px;
    margin: 0 auto;
  }

  .promo .page-title {
    width: 60%;
    font-size: 53px;
    line-height: 57px;
  }
}

@media (min-width: 1150px) {
  .promo__img {
    width: 1050px;
    height: 590px;
    transform: scaleX(1.1);
  }
}
