.promo__img {
  height: 285px;
  position: absolute;
  width: 100%;
}

.promo .page-title {
  text-align: center;
  width: 75%;
  margin: 30px auto 0;
  position: relative;
  z-index: 10;
}

@media (min-width: 1200px) {
  .promo {
    background-color: #f9f9f9;
    height: 630px;
  }

  .promo__wrapper {
    width: 1050px;
    margin: 0 auto;
  }

  .promo .page-title {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .promo__img {
    width: 1150px;
    height: 630px;
  }
}
