.promo__img {
  height: 280px;
  position: absolute;
  width: 100%;
}

.promo .page-title {
  text-align: center;
  width: 75%;
  margin: 0 auto;
  position: relative;
  z-index: 10;
  padding-top: 70px;
}

@media (min-width: 768px) {
  .promo .page-title {
    padding-top: 110px;
  }
}

@media (min-width: 1200px) {
  .promo {
    background-color: #f9f9f9;
    height: 590px;
  }

  .promo__wrapper {
    width: 1050px;
    margin: 0 auto;
  }

  .promo .page-title {
    width: 60%;
    font-size: 53px;
    line-height: 57px;
  }
}

@media (min-width: 768px) {
  .promo__img {
    height: 585px;
  }
}

@media (min-width: 1200px) {
  .promo__img {
    width: 1150px;
    height: 590px;
  }
}
