.reviews {
  width: 270px;
  margin: 0 auto;
}

.reviews__title {
  font-size: 25px;
  line-height: 30px;
  padding-top: 55px;
  padding-bottom: 25px;
}

@media (min-width: 768px) {
  .reviews {
    width: 100%;
    background-image: url("/img/review@1x.jpg");
    background-repeat: no-repeat;
    height: 450px;
    padding: 75px 0 0;
  }

  .reviews__title {
    font-size: 43px;
    line-height: 50px;
    padding: 0;
  }

  .review__wrapper {
    position: absolute;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 175px;
    right: -5px;
    top: -35px;
  }
}

@media (min-width: 1150px) {
  .reviews {
    width: 1050px;
    margin: 60px auto 0;
    padding: 70px 0 0;
  }
}

@media (min-width: 768px) {
  .reviews__wrapper {
    width: 668px;
    margin: 0 auto;
    padding: 0;
    position: relative;
  }
}

@media (min-width: 1150px) {
  .reviews__wrapper {
    width: 775px;
    padding-left: 75px;
  }
}

@media (min-width: 1150px) {
  .review__wrapper {
    height: 350px;
    top: -27px;
    right: -100px;
  }

  .reviews__title {
    font-size: 53px;
    line-height: 57px;
  }
}

.review__img {
  display: none;
}

@media (min-width: 768px) {
  .review__img {
    display: block;
    position: absolute;
    width: 45%;
    height: 460px;
    left: 0;
  }
}

@media (min-width: 1150px) {
  .review__img {
    width: 350px;
    margin-left: 100px;
  }
}

.review__item {
  margin: 0;
  line-height: 30px;
  padding-bottom: 25px;
}

.review__item-name {
  font-style: normal;
  font-size: 17px;
  font-weight: 500;
  margin-top: 25px;
  display: block;
}

.review__item-nickname {
  font-size: 17px;
}

@media (min-width: 768px) {
  .review__item {
    margin-top: 50px;
    font-size: 17px;
    line-height: 30px;
  }

  .review__item-name {
    display: inline-block;
    padding-top: 53px;
    font-style: normal;
    font-weight: 500;
    margin-top: 0;
    width: 668px;
  }

  .review__nickname {
    position: relative;
    top: 210px;
    left: -220px;
  }
}

@media (min-width: 1150px) {
  .review__item-name {
    padding-top: 35px;
  }
}

.review__toggle {
  margin: 3px auto;
  display: flex;
}

@media (min-width: 768px) {
  .review__toggle {
    order: 1;
    width: 170px;
    margin-bottom: 30px;
  }
}

.review__toggle-prev,
.review__toggle-next {
  border: none;
  background-color: #ffffff;
}

.review__toggle-prev {
  border: 1px solid #ececec;
  display: block;
  width: 130px;
  height: 53px;
}

.review__toggle-next {
  border: 1px solid #ececec;
  display: block;
  width: 130px;
  height: 53px;
}

@media (min-width: 768px) {
  .review__toggle-prev,
  .review__toggle-next {
    border: none;
  }
}
