.reviews {
  width: 270px;
  margin: 0 auto;
}

.reviews__title {
  font-size: 25px;
  line-height: 30px;
  padding-top: 55px;
  padding-bottom: 25px;
}

@media (min-width: 768px) {
  .reviews {
    width: 100%;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    height: 450px;
    padding: 75px 0 0;
  }

  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    .reviews {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px 450px;
    }
  }
}

@media (min-width: 768px) {
  .reviews__title {
    font-size: 43px;
    line-height: 50px;
    padding: 3px 0 0 0;
  }

  .reviews__toggle {
    position: absolute;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 175px;
    right: -1px;
    top: -33px;
  }
}

@media (min-width: 1150px) {
  .reviews {
    width: 1050px;
    margin: 60px auto 0;
    padding: 70px 0 0;
  }
}

@media (min-width: 768px) {
  .reviews__wrapper {
    width: 672px;
    margin: 0 auto;
    padding: 0;
    position: relative;
  }
}

@media (min-width: 1150px) {
  .reviews__wrapper {
    width: 775px;
    padding-left: 75px;
  }
}

@media (min-width: 1150px) {
  .reviews__toggle {
    height: 350px;
    top: -27px;
    right: -100px;
  }

  .reviews__title {
    font-size: 53px;
    line-height: 57px;
  }
}

.reviews__item {
  margin: 0;
  line-height: 30px;
  padding-bottom: 25px;
}

.reviews__item-name {
  font-style: normal;
  font-size: 17px;
  font-weight: 500;
  margin-top: 23px;
  margin-bottom: 0;
  display: block;
}

.reviews__item-nickname {
  font-size: 17px;
}

.reviews__item-nickname:hover {
  color: #46c1ae;
}

.reviews__item-nickname:active {
  opacity: 0.3;
}

@media (min-width: 768px) {
  .reviews__item {
    margin-top: 50px;
    font-size: 17px;
    line-height: 30px;
  }

  .reviews__item-name {
    display: inline-block;
    padding-top: 57px;
    font-style: normal;
    font-weight: 500;
    margin-top: 0;
    width: 668px;
    font-size: 19px;
    line-height: 21px;
  }
}

@media (min-width: 1150px) {
  .reviews__item-name {
    padding-top: 35px;
  }
}

.reviews__toggle-wrapper {
  margin: 3px auto;
  display: flex;
}

@media (min-width: 768px) {
  .reviews__toggle-wrapper {
    order: 1;
    width: 170px;
    margin-bottom: 30px;
  }
}

.reviews__toggle-prev,
.reviews__toggle-next {
  border: none;
  background-color: #ffffff;
}

.reviews__toggle-prev:hover,
.reviews__toggle-next:hover {
  opacity: 0.6;
}

.reviews__toggle-prev:active,
.reviews__toggle-next:active {
  opacity: 0.3;
}

.reviews__toggle-prev {
  border: 1px solid #ececec;
  display: block;
  width: 130px;
  height: 53px;
}

.reviews__toggle-next {
  border: 1px solid #ececec;
  display: block;
  width: 130px;
  height: 53px;
}

@media (min-width: 768px) {
  .reviews__toggle-prev,
  .reviews__toggle-next {
    border: none;
  }
}
