.social {
  padding: 33px 0 20px;
  margin: 0 auto;
  list-style: none;
  display: flex;
  width: 150px;
  justify-content: space-between;
}

.social__item:last-child {
  margin-right: 10px;
}

@media (min-width: 768px) {
  .social {
    padding: 0;
    margin: 40px 10px 0 0;
    width: 150px;
    justify-content: space-between;
  }

  .social__item:first-child,
  .social__item:last-child {
    margin-top: 5px;
  }
}

@media (min-width: 1150px) {
  .social {
    margin-left: 0;
  }
}

.social__link-icon:hover {
  fill: #46c1ae;
}

.social__link:active {
  opacity: 0.3;
}
