.social {
  padding: 30px 0 20px;
  margin: 0 auto;
  list-style: none;
  display: flex;
  width: 150px;
  justify-content: space-between;
}

.social__item:last-child {
  margin-right: 10px;
}

@media (min-width: 768px) {
  .social {
    padding: 0;
    margin: 7px 0 0;
    width: 150px;
    justify-content: space-between;
    margin-left: 85px;
  }

  .social__item:first-child,
  .social__item:last-child {
    margin-top: 5px;
  }
}
